CÓDIGO/Flow/flows.json
[
    {
        "id": "7ab0c187e446492b",
        "type": "tab",
        "label": "SGCIndustrial",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "21eebd734a933b2d",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "49286d31bfb74281",
        "type": "tab",
        "label": "Flow 2",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "9050707232a67393",
        "type": "tab",
        "label": "Flow 3",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "b2e35ac00edf9d8d",
        "type": "tab",
        "label": "Flow 4",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "6fcfda10.bc7b2c",
        "type": "tab",
        "label": "Flow 5",
        "disabled": true,
        "info": ""
    },
    {
        "id": "cebce69ca87b376c",
        "type": "tab",
        "label": "Flow 6",
        "disabled": true,
        "info": ""
    },
    {
        "id": "af6f1154.a6db3",
        "type": "tab",
        "label": "Flow 7",
        "disabled": true,
        "info": ""
    },
    {
        "id": "68d1c51ebb94f40e",
        "type": "tab",
        "label": "Flow 8",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "b34ffc5e69581de3",
        "type": "tab",
        "label": "Flow 9",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "a3393fa45fd843ad",
        "type": "tab",
        "label": "Face recognition",
        "disabled": true,
        "info": ""
    },
    {
        "id": "776a26b4d85009db",
        "type": "ui_tab",
        "name": "Flow 1",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c73135ee48e72085",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#e9b96e",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#fcaf3e",
                "baseFont": "Arial Black,Arial Black,Gadget,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#fcaf3e",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#fcaf3e",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#eeeeec",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#204a87",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#204a87",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#d3d7cf",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#fcaf3e",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "Arial Black,Arial Black,Gadget,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6bdb96d8e71a434d",
        "type": "ui_group",
        "name": "Gas Sensors",
        "tab": "bf20292619876dcc",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "57f91e41e2c5c7ef",
        "type": "mqtt-broker",
        "name": "LocalHost",
        "broker": "192.168.39.131",
        "port": "1883",
        "clientid": "armida_xx1",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7d0c55a03f6717b9",
        "type": "ui_tab",
        "name": "Flow 3",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dad4bf20f40c24a3",
        "type": "ui_group",
        "name": "Último Dato: ",
        "tab": "7d0c55a03f6717b9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cdd9709d4a7c24bc",
        "type": "ui_group",
        "name": "Última Temperatura",
        "tab": "7d0c55a03f6717b9",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "027cacabe7963eb1",
        "type": "ui_group",
        "name": "Grafica las Temperaturas",
        "tab": "7d0c55a03f6717b9",
        "order": 3,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b2f4f3e8d606f811",
        "type": "ui_tab",
        "name": "NO REFLEJA",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "908a804609b94015",
        "type": "ui_group",
        "name": "Última Temperatura",
        "tab": "b2f4f3e8d606f811",
        "order": 2,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a5ad03e0ee1c67df",
        "type": "ui_group",
        "name": "Historial de Temperaturas",
        "tab": "b2f4f3e8d606f811",
        "order": 3,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "edd3004a.11da88",
        "type": "mqtt-broker",
        "name": "Localhost",
        "broker": "192.168.39.127",
        "port": "1883",
        "clientid": "armida_12345XX",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "5341aebf.115e08",
        "type": "ui_tab",
        "name": "Flow5",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f9ff6e54.b1e71",
        "type": "ui_group",
        "name": "Rx",
        "tab": "5341aebf.115e08",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f370cfb7.9f1c18",
        "type": "ui_group",
        "name": "Tx",
        "tab": "5341aebf.115e08",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aa3107cbb6f29f72",
        "type": "mqtt-broker",
        "name": "LocalHost",
        "broker": "192.168.39.131",
        "port": "1883",
        "clientid": "armida_1234YY",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "cabb92b2.eaa2c8",
        "type": "ui_group",
        "name": "Temperatura Infrarroja",
        "tab": "eeaf25ab057e40ce",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5985bd1225719007",
        "type": "MySQLdatabase",
        "z": "7ab0c187e446492b",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "datos",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "eeaf25ab057e40ce",
        "type": "ui_tab",
        "name": "Flow 6",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6709c0d9.0a9bb8",
        "type": "ui_group",
        "name": "Datos de usuario",
        "tab": "d4c65cac.97d228",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d34eaba0.a49e18",
        "type": "ui_group",
        "name": "Sintomas",
        "tab": "d4c65cac.97d228",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1cd772bc.75142d",
        "type": "ui_group",
        "name": "Diagnostico estimado",
        "tab": "d4c65cac.97d228",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e41b49ca.4f267",
        "type": "ui_group",
        "name": "Analisis",
        "tab": "d4c65cac.97d228",
        "order": 4,
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "d4c65cac.97d228",
        "type": "ui_tab",
        "name": "Detector de sintomas COVID avanzado",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0f4ed2cd5c576857",
        "type": "ui_group",
        "name": "HUMIDITY",
        "tab": "bf20292619876dcc",
        "order": 4,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e3b2a98bdefc3bb4",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "35.157.221.58",
        "port": "1883",
        "clientid": "armida-IoT-Proy",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "3b5e5f63e28dede5",
        "type": "ui_group",
        "name": "TEMPERATURE",
        "tab": "bf20292619876dcc",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bf20292619876dcc",
        "type": "ui_tab",
        "name": "Enviromental Management System / Food Industrial  (SGCIndustrial)",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "068b410b1238d11f",
        "type": "mqtt-broker",
        "name": "PubHost",
        "broker": "35.157.221.58",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "d81e602f95255f29",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "datos",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "484c3e3cd5d46e04",
        "type": "ui_group",
        "name": "Capture",
        "tab": "d59ed3aa215dd716",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d59ed3aa215dd716",
        "type": "ui_tab",
        "name": "Face recognition",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b60643239b4c3ed0",
        "type": "ui_spacer",
        "z": "7ab0c187e446492b",
        "name": "spacer",
        "group": "efaab19139fa3f2b",
        "order": 4,
        "width": "1",
        "height": "1"
    },
    {
        "id": "35149435ae53730e",
        "type": "ui_group",
        "name": "CO",
        "tab": "",
        "order": 4,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5a60a573bd1ad704",
        "type": "ui_group",
        "name": "Executed Actions",
        "tab": "bf20292619876dcc",
        "order": 5,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "679d3cbff4e14f80",
        "type": "ui_group",
        "name": "INITIAL VALUES",
        "tab": "bf20292619876dcc",
        "order": 1,
        "disp": true,
        "width": "5",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b1eeacbc2f49194e",
        "type": "ui_spacer",
        "z": "7ab0c187e446492b",
        "name": "spacer",
        "group": "5a60a573bd1ad704",
        "order": 2,
        "width": 4,
        "height": 1
    },
    {
        "id": "7caf64a716b388e3",
        "type": "mqtt in",
        "z": "7ab0c187e446492b",
        "name": "",
        "topic": "CodigoIoT/SGCIndustrial/Hum",
        "qos": "2",
        "datatype": "auto",
        "broker": "57f91e41e2c5c7ef",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 300,
        "wires": [
            [
                "bbe1fba0b89d74c8"
            ]
        ]
    },
    {
        "id": "858562904a7c4515",
        "type": "mqtt in",
        "z": "7ab0c187e446492b",
        "name": "",
        "topic": "CodigoIoT/SGCIndustrial/Temp",
        "qos": "2",
        "datatype": "auto",
        "broker": "57f91e41e2c5c7ef",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 240,
        "wires": [
            [
                "c7a96e9d19ac833f"
            ]
        ]
    },
    {
        "id": "7a85a5f1a1708e99",
        "type": "ui_gauge",
        "z": "7ab0c187e446492b",
        "name": "",
        "group": "0f4ed2cd5c576857",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 560,
        "y": 300,
        "wires": []
    },
    {
        "id": "4c11e2b646160f2b",
        "type": "ui_chart",
        "z": "7ab0c187e446492b",
        "name": "",
        "group": "3b5e5f63e28dede5",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Chart trougth Time",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "15",
        "ymax": "40",
        "removeOlder": "2",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#f57900",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "bbe1fba0b89d74c8",
        "type": "function",
        "z": "7ab0c187e446492b",
        "name": "",
        "func": "con=msg.payload;\nglobal.set(\"hum\", parseInt(con));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 300,
        "wires": [
            [
                "7a85a5f1a1708e99"
            ]
        ]
    },
    {
        "id": "c7a96e9d19ac833f",
        "type": "function",
        "z": "7ab0c187e446492b",
        "name": "",
        "func": "gon=msg.payload;\nglobal.set(\"temp\", parseFloat(gon));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 240,
        "wires": [
            [
                "4c11e2b646160f2b",
                "b61d585103b97765",
                "b3602cef6a152e84"
            ]
        ]
    },
    {
        "id": "7d437463636d702c",
        "type": "inject",
        "z": "7ab0c187e446492b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "c54cc60c0ee518b1"
            ]
        ]
    },
    {
        "id": "c54cc60c0ee518b1",
        "type": "function",
        "z": "7ab0c187e446492b",
        "name": "",
        "func": "msg.topic=\"INSERT INTO SGCInd (temp,hum,Gas,Co,Benz,AirC,Win) VALUES ('\"+ global.get(\"temp\")+ \"','\"+ global.get(\"hum\") + \"','\"+global.get(\"Gas\")+ \"','\"+global.get(\"Co\")+ \"','\"+ global.get(\"Benz\")+ \"','\"+global.get(\"AirC\") +\"','\"+ global.get(\"Win\") +\"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 680,
        "wires": [
            [
                "4b1038a4f930bd20"
            ]
        ]
    },
    {
        "id": "4b1038a4f930bd20",
        "type": "mysql",
        "z": "7ab0c187e446492b",
        "mydb": "5985bd1225719007",
        "name": "",
        "x": 550,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "e2a4a18649dbb391",
        "type": "mqtt in",
        "z": "7ab0c187e446492b",
        "name": "",
        "topic": "CodigoIoT/SGCIndustrial/AirC",
        "qos": "2",
        "datatype": "auto",
        "broker": "57f91e41e2c5c7ef",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 540,
        "wires": [
            [
                "1bda7a321d73b547"
            ]
        ]
    },
    {
        "id": "1bda7a321d73b547",
        "type": "function",
        "z": "7ab0c187e446492b",
        "name": "",
        "func": "zon=msg.payload;\nglobal.set(\"AirC\", parseInt(zon));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 540,
        "wires": [
            [
                "b26eefbf51daf5e8"
            ]
        ]
    },
    {
        "id": "b26eefbf51daf5e8",
        "type": "ui_text",
        "z": "7ab0c187e446492b",
        "group": "5a60a573bd1ad704",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "AirConditioner",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 580,
        "y": 540,
        "wires": []
    },
    {
        "id": "4517403023487f66",
        "type": "mqtt in",
        "z": "7ab0c187e446492b",
        "name": "",
        "topic": "CodigoIoT/SGCIndustrial/MQ6",
        "qos": "2",
        "datatype": "auto",
        "broker": "57f91e41e2c5c7ef",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 360,
        "wires": [
            [
                "8695082f04a81706"
            ]
        ]
    },
    {
        "id": "ff4ba25f4287612f",
        "type": "mqtt in",
        "z": "7ab0c187e446492b",
        "name": "",
        "topic": "CodigoIoT/SGCIndustrial/MQ135",
        "qos": "2",
        "datatype": "auto",
        "broker": "57f91e41e2c5c7ef",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 480,
        "wires": [
            [
                "8d961cd55ae83e63"
            ]
        ]
    },
    {
        "id": "8695082f04a81706",
        "type": "function",
        "z": "7ab0c187e446492b",
        "name": "",
        "func": "gas=msg.payload;\nglobal.set(\"Gas\", parseInt(gas));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 360,
        "wires": [
            [
                "b4611545f61dcbb7"
            ]
        ]
    },
    {
        "id": "8d961cd55ae83e63",
        "type": "function",
        "z": "7ab0c187e446492b",
        "name": "",
        "func": "benz=msg.payload;\nglobal.set(\"Benz\", parseInt(benz));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 480,
        "wires": [
            [
                "31b685d9ef986c82"
            ]
        ]
    },
    {
        "id": "b4611545f61dcbb7",
        "type": "ui_text",
        "z": "7ab0c187e446492b",
        "group": "6bdb96d8e71a434d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "GasLP (MQ-6)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 580,
        "y": 360,
        "wires": []
    },
    {
        "id": "31b685d9ef986c82",
        "type": "ui_text",
        "z": "7ab0c187e446492b",
        "group": "6bdb96d8e71a434d",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Benzene (MQ-135)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 590,
        "y": 480,
        "wires": []
    },
    {
        "id": "b61d585103b97765",
        "type": "debug",
        "z": "7ab0c187e446492b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 160,
        "wires": []
    },
    {
        "id": "b3602cef6a152e84",
        "type": "ui_text",
        "z": "7ab0c187e446492b",
        "group": "3b5e5f63e28dede5",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "bc9461b1abf2ffae",
        "type": "function",
        "z": "7ab0c187e446492b",
        "name": "",
        "func": "co=msg.payload;\nglobal.set(\"Co\", parseInt(co));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 420,
        "wires": [
            [
                "ee1da5d9249b9c8c"
            ]
        ]
    },
    {
        "id": "ee1da5d9249b9c8c",
        "type": "ui_text",
        "z": "7ab0c187e446492b",
        "group": "6bdb96d8e71a434d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Co (MQ-7)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 570,
        "y": 420,
        "wires": []
    },
    {
        "id": "cb2ef411aa827394",
        "type": "mqtt in",
        "z": "7ab0c187e446492b",
        "name": "",
        "topic": "CodigoIoT/SGCIndustrial/MQ7",
        "qos": "2",
        "datatype": "auto",
        "broker": "57f91e41e2c5c7ef",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 420,
        "wires": [
            [
                "bc9461b1abf2ffae"
            ]
        ]
    },
    {
        "id": "93b5524a4fe0849d",
        "type": "mqtt in",
        "z": "7ab0c187e446492b",
        "name": "",
        "topic": "CodigoIoT/SGCIndustrial/Win",
        "qos": "2",
        "datatype": "auto",
        "broker": "57f91e41e2c5c7ef",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 620,
        "wires": [
            [
                "1dbaffb2e4a79464"
            ]
        ]
    },
    {
        "id": "1dbaffb2e4a79464",
        "type": "function",
        "z": "7ab0c187e446492b",
        "name": "",
        "func": "win=msg.payload;\nglobal.set(\"Win\", parseInt(win));\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 620,
        "wires": [
            [
                "e88841c1eaa1cb35"
            ]
        ]
    },
    {
        "id": "e88841c1eaa1cb35",
        "type": "ui_text",
        "z": "7ab0c187e446492b",
        "group": "5a60a573bd1ad704",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Windows",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 570,
        "y": 620,
        "wires": []
    },
    {
        "id": "2f2f3eb8a80d451c",
        "type": "mqtt out",
        "z": "7ab0c187e446492b",
        "name": "",
        "topic": "CodigoIoT/SGCIndustrial/ValoresCliente/LimitTemp",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "57f91e41e2c5c7ef",
        "x": 490,
        "y": 40,
        "wires": []
    },
    {
        "id": "bed9a042f3a35e08",
        "type": "mqtt out",
        "z": "7ab0c187e446492b",
        "name": "",
        "topic": "CodigoIoT/SGCIndustrial/ValoresCliente/LimitHum",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "57f91e41e2c5c7ef",
        "x": 490,
        "y": 100,
        "wires": []
    },
    {
        "id": "3fdfabc52b82ab7b",
        "type": "ui_text_input",
        "z": "7ab0c187e446492b",
        "name": "",
        "label": "Maximum temperature?",
        "tooltip": "",
        "group": "679d3cbff4e14f80",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "2f2f3eb8a80d451c"
            ]
        ]
    },
    {
        "id": "e19dcf06fffee1f3",
        "type": "ui_text_input",
        "z": "7ab0c187e446492b",
        "name": "",
        "label": "Maximum humidity?",
        "tooltip": "",
        "group": "679d3cbff4e14f80",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "bed9a042f3a35e08"
            ]
        ]
    },
    {
        "id": "ef323fd774fc2de0",
        "type": "inject",
        "z": "21eebd734a933b2d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "7d0433546b07dcae"
            ]
        ]
    },
    {
        "id": "7d0433546b07dcae",
        "type": "debug",
        "z": "21eebd734a933b2d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 80,
        "wires": []
    },
    {
        "id": "2542600b7401fd36",
        "type": "inject",
        "z": "49286d31bfb74281",
        "name": "Topic de Ejemplo",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Topic de ejemplo",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "3d073ca2e3555076"
            ]
        ]
    },
    {
        "id": "87c0acfa8a3a2281",
        "type": "debug",
        "z": "49286d31bfb74281",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 120,
        "wires": []
    },
    {
        "id": "3d073ca2e3555076",
        "type": "function",
        "z": "49286d31bfb74281",
        "name": "",
        "func": "// Lo que está después de “//” son comentarios\n// Crea un objeto Date a partir del payload enviado por timestamp\nvar date = new Date(msg.payload);\n// Cambia el payload para que sea una fecha con formato\nmsg.payload = date.toString();\n// Regresa el mensaje para que se envíe al sigueinte nodo\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 80,
        "wires": [
            [
                "87c0acfa8a3a2281"
            ]
        ]
    },
    {
        "id": "90dde066d363199f",
        "type": "mqtt in",
        "z": "9050707232a67393",
        "name": "",
        "topic": "codigoIoT/SIC/G5/temp",
        "qos": "2",
        "datatype": "auto",
        "broker": "57f91e41e2c5c7ef",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 80,
        "wires": [
            [
                "dbc73c4f59da3ec1"
            ]
        ]
    },
    {
        "id": "dbc73c4f59da3ec1",
        "type": "json",
        "z": "9050707232a67393",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 80,
        "wires": [
            [
                "256d001361c578d5",
                "7a37ad55a18c9723",
                "be26b872ec2aa122",
                "3db3fe9cb821865a"
            ]
        ]
    },
    {
        "id": "e7574fc16b962234",
        "type": "ui_text",
        "z": "9050707232a67393",
        "group": "dad4bf20f40c24a3",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ultimo",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 650,
        "y": 80,
        "wires": []
    },
    {
        "id": "6d27cd8144c07156",
        "type": "ui_gauge",
        "z": "9050707232a67393",
        "name": "",
        "group": "cdd9709d4a7c24bc",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Última Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": "-30",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 690,
        "y": 140,
        "wires": []
    },
    {
        "id": "256d001361c578d5",
        "type": "function",
        "z": "9050707232a67393",
        "name": "",
        "func": "msg.payload = msg.payload.id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 80,
        "wires": [
            [
                "e7574fc16b962234"
            ]
        ]
    },
    {
        "id": "7a37ad55a18c9723",
        "type": "function",
        "z": "9050707232a67393",
        "name": "",
        "func": "msg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 140,
        "wires": [
            [
                "6d27cd8144c07156"
            ]
        ]
    },
    {
        "id": "be26b872ec2aa122",
        "type": "debug",
        "z": "9050707232a67393",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 280,
        "wires": []
    },
    {
        "id": "00c986b6df5d0701",
        "type": "ui_chart",
        "z": "9050707232a67393",
        "name": "Gráfica de la Temperatura",
        "group": "027cacabe7963eb1",
        "order": 1,
        "width": "20",
        "height": "13",
        "label": "Gráfica",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Temperatura",
        "dot": false,
        "ymin": "-30",
        "ymax": "50",
        "removeOlder": "5",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#bf4040",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 200,
        "wires": [
            []
        ],
        "info": "Esta es la última temperatura"
    },
    {
        "id": "3db3fe9cb821865a",
        "type": "function",
        "z": "9050707232a67393",
        "name": "",
        "func": "msg.topic=msg.payload.id;\nmsg.payload=msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 200,
        "wires": [
            [
                "00c986b6df5d0701"
            ]
        ]
    },
    {
        "id": "bcb274b8e602be17",
        "type": "mqtt in",
        "z": "b2e35ac00edf9d8d",
        "name": "",
        "topic": "codigoIoT/SIC/G5/temp",
        "qos": "2",
        "datatype": "auto",
        "broker": "57f91e41e2c5c7ef",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 80,
        "wires": [
            [
                "23be1335b498c79d"
            ]
        ]
    },
    {
        "id": "23be1335b498c79d",
        "type": "json",
        "z": "b2e35ac00edf9d8d",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 80,
        "wires": [
            [
                "fde0f7c8a01c2e77",
                "7181f8650db21db7",
                "21c7377eb211bb4d",
                "cdec276fcb24536a"
            ]
        ]
    },
    {
        "id": "fde0f7c8a01c2e77",
        "type": "function",
        "z": "b2e35ac00edf9d8d",
        "name": "",
        "func": "msg.payload = msg.payload.id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "7181f8650db21db7",
        "type": "function",
        "z": "b2e35ac00edf9d8d",
        "name": "",
        "func": "msg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "21c7377eb211bb4d",
        "type": "debug",
        "z": "b2e35ac00edf9d8d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 260,
        "wires": []
    },
    {
        "id": "cdec276fcb24536a",
        "type": "function",
        "z": "b2e35ac00edf9d8d",
        "name": "",
        "func": "msg.topic=msg.payload.id;\nmsg.payload=msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "8a39d1fb23183005",
        "type": "mqtt out",
        "z": "b2e35ac00edf9d8d",
        "name": "",
        "topic": "codigoIoT/SIC/G5/ArmidaLorence",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "57f91e41e2c5c7ef",
        "x": 400,
        "y": 380,
        "wires": []
    },
    {
        "id": "4cd9e330.a7889c",
        "type": "mqtt in",
        "z": "6fcfda10.bc7b2c",
        "name": "",
        "topic": "codigoIoT/ejemplos/MQTT",
        "qos": "2",
        "datatype": "auto",
        "broker": "57f91e41e2c5c7ef",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 120,
        "wires": [
            [
                "a81b6cb7.b8e24",
                "9ab54791.4f9a8"
            ]
        ]
    },
    {
        "id": "a81b6cb7.b8e24",
        "type": "ui_text",
        "z": "6fcfda10.bc7b2c",
        "group": "f9ff6e54.b1e71",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 450,
        "y": 160,
        "wires": []
    },
    {
        "id": "842756d3.0ca3d",
        "type": "ui_switch",
        "z": "6fcfda10.bc7b2c",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "f370cfb7.9f1c18",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "938b5dd7.0973c8"
            ]
        ]
    },
    {
        "id": "938b5dd7.0973c8",
        "type": "mqtt out",
        "z": "6fcfda10.bc7b2c",
        "name": "armida_12345XX",
        "topic": "esp32/output",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "edd3004a.11da88",
        "x": 490,
        "y": 220,
        "wires": []
    },
    {
        "id": "9ab54791.4f9a8",
        "type": "debug",
        "z": "6fcfda10.bc7b2c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 100,
        "wires": []
    },
    {
        "id": "f0d64a9b68c9e94b",
        "type": "mqtt in",
        "z": "cebce69ca87b376c",
        "name": "",
        "topic": "esp32/data",
        "qos": "2",
        "datatype": "auto",
        "broker": "aa3107cbb6f29f72",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 180,
        "wires": [
            [
                "6a552b0c565312d4",
                "e2d80fdad2ecba1f"
            ]
        ]
    },
    {
        "id": "d60f8a2179553ff0",
        "type": "ui_gauge",
        "z": "cebce69ca87b376c",
        "name": "",
        "group": "cabb92b2.eaa2c8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "°C",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "6a552b0c565312d4",
        "type": "function",
        "z": "cebce69ca87b376c",
        "name": "",
        "func": "msg.payload = parseInt (msg.payload);\nglobal.set (\"temp\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 180,
        "wires": [
            [
                "d60f8a2179553ff0"
            ]
        ]
    },
    {
        "id": "e2d80fdad2ecba1f",
        "type": "debug",
        "z": "cebce69ca87b376c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 420,
        "wires": []
    },
    {
        "id": "5b9924fe4868576a",
        "type": "function",
        "z": "cebce69ca87b376c",
        "name": "",
        "func": "\nmsg.topic = \"INSERT INTO caldera (nocaldera, temperatura) VALUE ('\" + global.get (\"noCaldera\") +\"','\" + global.get (\"temp\") + \"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "2554e9d50b810ec9",
        "type": "ui_slider",
        "z": "cebce69ca87b376c",
        "name": "",
        "label": "Caldera No:",
        "tooltip": "",
        "group": "cabb92b2.eaa2c8",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "4",
        "step": 1,
        "x": 370,
        "y": 240,
        "wires": [
            [
                "42cac7a14ed958dd"
            ]
        ]
    },
    {
        "id": "42cac7a14ed958dd",
        "type": "function",
        "z": "cebce69ca87b376c",
        "name": "",
        "func": "global.set (\"noCaldera\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "dddda5357637c49a",
        "type": "ui_button",
        "z": "cebce69ca87b376c",
        "name": "",
        "group": "cabb92b2.eaa2c8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Guardar Dato",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 380,
        "y": 320,
        "wires": [
            [
                "5b9924fe4868576a"
            ]
        ]
    },
    {
        "id": "32c0a6b7838331a6",
        "type": "ui_template",
        "z": "cebce69ca87b376c",
        "group": "cabb92b2.eaa2c8",
        "name": "",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<iframe width=\"560\" height=\"315\" src=\"https://www.youtube.com/embed/vyxsboqQthE\" title=\"YouTube video player\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture\" allowfullscreen></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 360,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "e4dbea48.bcecc8",
        "type": "mqtt in",
        "z": "af6f1154.a6db3",
        "name": "",
        "topic": "codigoIoT/SIC/sintomas",
        "qos": "2",
        "datatype": "auto",
        "broker": "aa3107cbb6f29f72",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 183,
        "y": 104,
        "wires": [
            [
                "625f15fb.42d354",
                "a483c576.f598f"
            ]
        ]
    },
    {
        "id": "a483c576.f598f",
        "type": "debug",
        "z": "af6f1154.a6db3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 483,
        "y": 224,
        "wires": []
    },
    {
        "id": "625f15fb.42d354",
        "type": "json",
        "z": "af6f1154.a6db3",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 463,
        "y": 104,
        "wires": [
            [
                "a483c576.f598f",
                "16531efb.6802e1",
                "e5e9866a.1586a8",
                "9963ce6f.ae5c4"
            ]
        ]
    },
    {
        "id": "ba73e6f4.8f6e6",
        "type": "ui_text_input",
        "z": "af6f1154.a6db3",
        "name": "",
        "label": "Nombre del paciente",
        "tooltip": "",
        "group": "6709c0d9.0a9bb8",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 200,
        "y": 340,
        "wires": [
            [
                "bc7b3422.b72e28"
            ]
        ]
    },
    {
        "id": "fcc23fa8.10f52",
        "type": "ui_text_input",
        "z": "af6f1154.a6db3",
        "name": "",
        "label": "Correo electronico",
        "tooltip": "Correo electronico",
        "group": "6709c0d9.0a9bb8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "email",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 190,
        "y": 400,
        "wires": [
            [
                "319e9800.22e008"
            ]
        ]
    },
    {
        "id": "41e9e001.672e48",
        "type": "ui_gauge",
        "z": "af6f1154.a6db3",
        "name": "",
        "group": "d34eaba0.a49e18",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Ritmo Cardiaco",
        "label": "BPM",
        "format": "{{value}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 933,
        "y": 104,
        "wires": []
    },
    {
        "id": "c4aa6c86.218628",
        "type": "ui_gauge",
        "z": "af6f1154.a6db3",
        "name": "",
        "group": "d34eaba0.a49e18",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Oxigenación (SpO2)",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 953,
        "y": 164,
        "wires": []
    },
    {
        "id": "16531efb.6802e1",
        "type": "function",
        "z": "af6f1154.a6db3",
        "name": "",
        "func": "global.set (\"ritmo\", msg.payload.HR);\nmsg.payload = msg.payload.HR;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 713,
        "y": 104,
        "wires": [
            [
                "41e9e001.672e48"
            ]
        ]
    },
    {
        "id": "e5e9866a.1586a8",
        "type": "function",
        "z": "af6f1154.a6db3",
        "name": "",
        "func": "global.set (\"oxi\", msg.payload.SPO2);\nmsg.payload = msg.payload.SPO2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 713,
        "y": 164,
        "wires": [
            [
                "c4aa6c86.218628"
            ]
        ]
    },
    {
        "id": "9963ce6f.ae5c4",
        "type": "function",
        "z": "af6f1154.a6db3",
        "name": "",
        "func": "if (msg.payload.HR > 130 && msg.payload.SPO2 > 90) {\n    msg.payload = \"Ritmo cardiaco demasiado alto. Diríjase a su unidad médica.\";\n} else if (msg.payload.SPO2 < 90) {\n    msg.payload = \"Oxigenación demasiado baja, sospecha de covid. Diríjase a su unidad médica.\";\n} else if (msg.payload.HR > 60 && msg.payload.HR < 129 && msg.payload.SPO2 > 90 && msg.payload.SPO2 <= 100) {\n    msg.payload = \"Diagnostico normal\";\n} else {\n    msg.payload = \"Verificar sensor\";\n}\nglobal.set (\"diag\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 713,
        "y": 244,
        "wires": [
            [
                "f8dc6382.54a99"
            ]
        ]
    },
    {
        "id": "f8dc6382.54a99",
        "type": "ui_text",
        "z": "af6f1154.a6db3",
        "group": "1cd772bc.75142d",
        "order": 0,
        "width": "6",
        "height": "4",
        "name": "",
        "label": "Diagnostico",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 923,
        "y": 244,
        "wires": []
    },
    {
        "id": "a1996c3f.71e02",
        "type": "ui_button",
        "z": "af6f1154.a6db3",
        "name": "",
        "group": "1cd772bc.75142d",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Tomar diagnostico",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 480,
        "wires": [
            [
                "d7c8254.3490358",
                "ccb40798.1493d8"
            ]
        ]
    },
    {
        "id": "d7c8254.3490358",
        "type": "function",
        "z": "af6f1154.a6db3",
        "name": "",
        "func": "msg.payload = global.get(\"diag\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 480,
        "wires": [
            [
                "da76aa0d.ee71",
                "cbc3a344.975a"
            ]
        ]
    },
    {
        "id": "da76aa0d.ee71",
        "type": "ui_audio",
        "z": "af6f1154.a6db3",
        "name": "",
        "group": "1cd772bc.75142d",
        "voice": "urn:moz-tts:speechd:Spanish%20(Latin%20America)?es",
        "always": "",
        "x": 720,
        "y": 480,
        "wires": []
    },
    {
        "id": "68d74068.5648f",
        "type": "ui_chart",
        "z": "af6f1154.a6db3",
        "d": true,
        "name": "",
        "group": "6709c0d9.0a9bb8",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "bc7b3422.b72e28",
        "type": "function",
        "z": "af6f1154.a6db3",
        "name": "",
        "func": "global.set (\"nombrePaciente\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "319e9800.22e008",
        "type": "function",
        "z": "af6f1154.a6db3",
        "name": "",
        "func": "global.set (\"correoPaciente\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "ccb40798.1493d8",
        "type": "function",
        "z": "af6f1154.a6db3",
        "name": "",
        "func": "\nmsg.topic=\"INSERT INTO covida (nombre, correo, hr, spo2, diagnostico) VALUES ('\"+global.get (\"nombrePaciente\")+\"','\"+global.get (\"correoPaciente\")+\"','\"+global.get (\"ritmo\")+\"','\"+ global.get (\"oxi\") +\"','\" + global.get (\"diag\") +\"')\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 600,
        "wires": [
            [
                "ef4f665d30e76e3d"
            ]
        ]
    },
    {
        "id": "b599cc32.43e6a8",
        "type": "e-mail",
        "z": "af6f1154.a6db3",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": false,
        "name": "armida.gl@sjuanrio.tecnm.mx",
        "dname": "Armida",
        "x": 920,
        "y": 540,
        "wires": []
    },
    {
        "id": "1d7cde89.a3cfc9",
        "type": "function",
        "z": "af6f1154.a6db3",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "cbc3a344.975a",
        "type": "function",
        "z": "af6f1154.a6db3",
        "name": "",
        "func": "msg.to = global.get (\"correoPaciente\");\nmsg.topic = \"Diagnostico COVID\"\nmsg.payload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 540,
        "wires": [
            [
                "b599cc32.43e6a8",
                "ddec8559.f1922"
            ]
        ]
    },
    {
        "id": "ddec8559.f1922",
        "type": "debug",
        "z": "af6f1154.a6db3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 600,
        "wires": []
    },
    {
        "id": "31222f7d.dc07e",
        "type": "ui_template",
        "z": "af6f1154.a6db3",
        "group": "e41b49ca.4f267",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<iframe src=\"http://localhost:3000/d/k6eHXPC7z/new-dashboard-copy?orgId=1&from=1654878160542&to=1655569360542\" width=\"600\" height=\"400\" frameborder=\"0\"></iframe>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 160,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "ef4f665d30e76e3d",
        "type": "mysql",
        "z": "af6f1154.a6db3",
        "mydb": "d81e602f95255f29",
        "name": "",
        "x": 620,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "4eadb6163afd7715",
        "type": "mqtt in",
        "z": "68d1c51ebb94f40e",
        "name": "",
        "topic": "codigoIoT/SIC/G5/temp",
        "qos": "2",
        "datatype": "auto",
        "broker": "57f91e41e2c5c7ef",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 80,
        "wires": [
            [
                "0e318928356b0a37"
            ]
        ]
    },
    {
        "id": "0e318928356b0a37",
        "type": "json",
        "z": "68d1c51ebb94f40e",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 80,
        "wires": [
            [
                "8b845f019db72742",
                "a4f8a467f2b53a0c",
                "6db7a6b0a00e7d8d",
                "6bdce27e0ee401e2"
            ]
        ]
    },
    {
        "id": "b467a601d103f3e5",
        "type": "ui_text",
        "z": "68d1c51ebb94f40e",
        "group": "908a804609b94015",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Último",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 770,
        "y": 80,
        "wires": []
    },
    {
        "id": "8461a6e6b6390d20",
        "type": "ui_gauge",
        "z": "68d1c51ebb94f40e",
        "name": "",
        "group": "908a804609b94015",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Última Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": "15",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 810,
        "y": 120,
        "wires": []
    },
    {
        "id": "8b845f019db72742",
        "type": "function",
        "z": "68d1c51ebb94f40e",
        "name": "",
        "func": "msg.payload = msg.payload.id;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 80,
        "wires": [
            [
                "b467a601d103f3e5"
            ]
        ]
    },
    {
        "id": "a4f8a467f2b53a0c",
        "type": "function",
        "z": "68d1c51ebb94f40e",
        "name": "",
        "func": "msg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 120,
        "wires": [
            [
                "8461a6e6b6390d20"
            ]
        ]
    },
    {
        "id": "6db7a6b0a00e7d8d",
        "type": "debug",
        "z": "68d1c51ebb94f40e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 220,
        "wires": []
    },
    {
        "id": "18887a629c222566",
        "type": "ui_chart",
        "z": "68d1c51ebb94f40e",
        "name": "Historial de Temperaturas",
        "group": "a5ad03e0ee1c67df",
        "order": 1,
        "width": "15",
        "height": "12",
        "label": "Gráfica de Temperaturas",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Temperatura",
        "dot": false,
        "ymin": "15",
        "ymax": "40",
        "removeOlder": "5",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#bf4040",
            "#aec7e8",
            "#f57900",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 160,
        "wires": [
            []
        ],
        "info": "Esta es la última temperatura"
    },
    {
        "id": "6bdce27e0ee401e2",
        "type": "function",
        "z": "68d1c51ebb94f40e",
        "name": "",
        "func": "msg.topic=msg.payload.id;\nmsg.payload=msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 160,
        "wires": [
            [
                "18887a629c222566"
            ]
        ]
    },
    {
        "id": "305039bf4888eae7",
        "type": "ui_switch",
        "z": "68d1c51ebb94f40e",
        "name": "",
        "label": "Switch",
        "tooltip": "",
        "group": "908a804609b94015",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 50,
        "y": 380,
        "wires": [
            [
                "55c858535d8d7694"
            ]
        ]
    },
    {
        "id": "55c858535d8d7694",
        "type": "mqtt out",
        "z": "68d1c51ebb94f40e",
        "name": "",
        "topic": "codigoIoT/SIC/G5/temp",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "57f91e41e2c5c7ef",
        "x": 400,
        "y": 380,
        "wires": []
    },
    {
        "id": "7dc565e2e268648d",
        "type": "e-mail",
        "z": "b34ffc5e69581de3",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": false,
        "name": "armida.gl@sjuanrio.tecnm.mx",
        "dname": "",
        "x": 620,
        "y": 360,
        "wires": []
    },
    {
        "id": "94b725d71843b05e",
        "type": "inject",
        "z": "b34ffc5e69581de3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "\"Hola Node Red\"",
        "payload": "",
        "payloadType": "date",
        "x": 330,
        "y": 300,
        "wires": [
            [
                "2aca953a58804e57",
                "7dc565e2e268648d"
            ]
        ]
    },
    {
        "id": "2aca953a58804e57",
        "type": "debug",
        "z": "b34ffc5e69581de3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 200,
        "wires": []
    },
    {
        "id": "db9f71cfabe00705",
        "type": "http request",
        "z": "a3393fa45fd843ad",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://192.168.39.132/capture",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 370,
        "y": 260,
        "wires": [
            [
                "015961ebf3b20b81"
            ]
        ]
    },
    {
        "id": "ce7e5aef863361b3",
        "type": "file",
        "z": "a3393fa45fd843ad",
        "name": "",
        "filename": "",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "setbymsg",
        "x": 810,
        "y": 260,
        "wires": [
            [
                "5ad947c03169a59c"
            ]
        ]
    },
    {
        "id": "015961ebf3b20b81",
        "type": "function",
        "z": "a3393fa45fd843ad",
        "name": "",
        "func": "msg.filename = \"/home/armida/Documents/GitHub/ReconocFacialEjemplo/python/facedetection/cam_photos/\"+global.get (\"fecha\")+\".jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 260,
        "wires": [
            [
                "ce7e5aef863361b3"
            ]
        ]
    },
    {
        "id": "ab899ed5cbdf954c",
        "type": "exec",
        "z": "a3393fa45fd843ad",
        "command": "python3 /home/armida/Documents/GitHub/ReconocFacialEjemplo/python/facedetection/facecheckMQTT.py",
        "addpay": "command",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 450,
        "y": 380,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "5ad947c03169a59c",
        "type": "function",
        "z": "a3393fa45fd843ad",
        "name": "",
        "func": "\nmsg.command = \" -i \" +msg.filename + \" -j /home/armida/Documents/GitHub/ReconocFacialEjemplo/python/facedetection/my_db/\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 260,
        "wires": [
            [
                "ab899ed5cbdf954c"
            ]
        ]
    },
    {
        "id": "79909f09c9beb903",
        "type": "ui_template",
        "z": "a3393fa45fd843ad",
        "group": "484c3e3cd5d46e04",
        "name": "",
        "order": 1,
        "width": 7,
        "height": 5,
        "format": "<iframe width=\"320\" height=\"240\"\n    src=\"http://192.168.39.132:81/stream\">\n</iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 600,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "8cc53b663f0ed3bf",
        "type": "mqtt in",
        "z": "a3393fa45fd843ad",
        "name": "",
        "topic": "codigoIoT/py",
        "qos": "2",
        "datatype": "auto",
        "broker": "aa3107cbb6f29f72",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 540,
        "wires": [
            [
                "7d2e2b1194012e16",
                "ed3aa44f01e16967"
            ]
        ]
    },
    {
        "id": "7d2e2b1194012e16",
        "type": "json",
        "z": "a3393fa45fd843ad",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 290,
        "y": 540,
        "wires": [
            [
                "f83b214a8405dac7"
            ]
        ]
    },
    {
        "id": "f83b214a8405dac7",
        "type": "function",
        "z": "a3393fa45fd843ad",
        "name": "",
        "func": "var lista = Object.keys(msg.payload).length;\nlet lst = [lista];\nfor (var i = 0; i < lista; i++) {\n    lst [i] = msg.payload[i][\"VGG-Face_cosine\"];\n}\nmsg.lista = lst;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 540,
        "wires": [
            [
                "949fcf898ffa1e0a"
            ]
        ]
    },
    {
        "id": "a1782d27c94dcfe4",
        "type": "function",
        "z": "a3393fa45fd843ad",
        "name": "",
        "func": "var lista = Object.keys(msg.payload).length;\nfor (var i = 0; i < lista; i++) {\n    if (msg.max == msg.payload[i][\"VGG-Face_cosine\"]) {\n        msg.iden = msg.payload[i].identity;\n        msg.index = i;\n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 540,
        "wires": [
            [
                "3e93bfa465acdebc"
            ]
        ]
    },
    {
        "id": "ea2947cdbef9cee0",
        "type": "file in",
        "z": "a3393fa45fd843ad",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 920,
        "y": 600,
        "wires": [
            [
                "5262b212c3fbef3c"
            ]
        ]
    },
    {
        "id": "5262b212c3fbef3c",
        "type": "json",
        "z": "a3393fa45fd843ad",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1050,
        "y": 600,
        "wires": [
            [
                "c08c4dc5ae92a0fe"
            ]
        ]
    },
    {
        "id": "69ae1eaf5a4e16c3",
        "type": "ui_button",
        "z": "a3393fa45fd843ad",
        "name": "",
        "group": "484c3e3cd5d46e04",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Analizar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "db9f71cfabe00705"
            ]
        ]
    },
    {
        "id": "9a996b7ce9544e9d",
        "type": "ui_text",
        "z": "a3393fa45fd843ad",
        "group": "484c3e3cd5d46e04",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Persona detectada",
        "format": "{{Persona}}",
        "layout": "row-spread",
        "className": "",
        "x": 1410,
        "y": 680,
        "wires": []
    },
    {
        "id": "11cf98327f9f0ede",
        "type": "ui_text",
        "z": "a3393fa45fd843ad",
        "group": "484c3e3cd5d46e04",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Porcentaje de certeza",
        "format": "{{msg.max}}",
        "layout": "row-spread",
        "className": "",
        "x": 1420,
        "y": 600,
        "wires": []
    },
    {
        "id": "c08c4dc5ae92a0fe",
        "type": "function",
        "z": "a3393fa45fd843ad",
        "name": "",
        "func": "msg.max = 100 - msg.max * 100;\nif (msg.max > 60) {\n    global.set(\"accion\", msg.max);\n    global.set(\"Persona\", msg.payload.Nombre);\n    global.set(\"Encontro\",\"SI\");\n} else{\n    global.set(\"accion\", 0);\n\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 600,
        "wires": [
            [
                "11cf98327f9f0ede",
                "4472fd2b13701bf2",
                "9a996b7ce9544e9d",
                "d53a7345a52c30a1"
            ]
        ]
    },
    {
        "id": "72546234ff95eb1b",
        "type": "inject",
        "z": "a3393fa45fd843ad",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "b70f5c3c3b473c89"
            ]
        ]
    },
    {
        "id": "b70f5c3c3b473c89",
        "type": "function",
        "z": "a3393fa45fd843ad",
        "name": "",
        "func": "global.set (\"fecha\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "3e93bfa465acdebc",
        "type": "string",
        "z": "a3393fa45fd843ad",
        "name": "",
        "methods": [
            {
                "name": "append",
                "params": [
                    {
                        "type": "msg",
                        "value": "iden"
                    }
                ]
            },
            {
                "name": "delRightMost",
                "params": [
                    {
                        "type": "str",
                        "value": "/"
                    }
                ]
            },
            {
                "name": "append",
                "params": [
                    {
                        "type": "str",
                        "value": "/info.json"
                    }
                ]
            }
        ],
        "prop": "",
        "propout": "filename",
        "object": "str",
        "objectout": "msg",
        "x": 790,
        "y": 600,
        "wires": [
            [
                "ea2947cdbef9cee0"
            ]
        ]
    },
    {
        "id": "949fcf898ffa1e0a",
        "type": "calculator",
        "z": "a3393fa45fd843ad",
        "name": "",
        "inputMsgField": "lista",
        "outputMsgField": "max",
        "operation": "min",
        "constant": "",
        "round": false,
        "decimals": 0,
        "x": 560,
        "y": 540,
        "wires": [
            [
                "a1782d27c94dcfe4"
            ]
        ]
    },
    {
        "id": "d53a7345a52c30a1",
        "type": "mqtt out",
        "z": "a3393fa45fd843ad",
        "name": "",
        "topic": "codigoIoT/py/puerta",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "57f91e41e2c5c7ef",
        "x": 1420,
        "y": 760,
        "wires": []
    },
    {
        "id": "4472fd2b13701bf2",
        "type": "ui_text",
        "z": "a3393fa45fd843ad",
        "group": "484c3e3cd5d46e04",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "¿Lo Encontró? ",
        "format": "{{Encontro}}",
        "layout": "row-spread",
        "className": "",
        "x": 1420,
        "y": 640,
        "wires": []
    },
    {
        "id": "7a4ac6e2b6a4deed",
        "type": "debug",
        "z": "a3393fa45fd843ad",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 820,
        "wires": []
    },
    {
        "id": "ed3aa44f01e16967",
        "type": "function",
        "z": "a3393fa45fd843ad",
        "name": "",
        "func": "if (msg.payload==\"\"){\n    global.set(\"largo\", 3);\n    global.set(\"Persona\", \"DESCONOCIDO\");\n    global.set(\"Encontro\",\"NO\");\n    global.set(\"accion\", 0);\n}\nelse {global.set(\"largo\",5);\n    global.set(\"Persona\", \"DESCONOCIDO\");\n    global.set(\"Encontro\",\"NO\");\n    global.set(\"accion\", 0);\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 760,
        "wires": [
            [
                "7a4ac6e2b6a4deed",
                "4472fd2b13701bf2",
                "9a996b7ce9544e9d"
            ]
        ]
    }
]